.product-image-mini {
  object-fit: cover;
  background-position: center;
  max-width: 38px;
  min-width: 38px;
  max-height: 50px;
  min-height: 50px;
  border: 0.5px solid black;
}

.product-main {
  margin: 0 auto;
  width: 70%;
  border: 1px solid red;
}

.product-image-mini-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-image-mini:hover {
  cursor: pointer;
}
.chosen-image {
  border: 0.5px solid var(--amazonOrange);
}
.product-image-large {
  width: 200px;
  height: auto;
}

.product-primary-information {
  display: flex;
}

.product-image-large-container {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
}
.back-to-results {
  margin: 2rem 0;
  background: none;
  border: none;
  color: #7b7e7e;
}

.back-to-results:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-information-details-container {
  width: 300px;
  border: 1px solid blue;
  margin-left: 6rem;
  margin-right: 0.5rem;
}
.rating-container {
  border-bottom: 1px solid lightgrey;
}

.product-price-main {
  display: flex;
  border: 1px solid pink;
}
.product-price-main > div:first-child {
  color: var(--textgrey);
  margin-right: 0.3rem;
}
.product-price-main > div:last-child {
  font-size: 1.2rem;
  color: #b43210;
}
.product-checkout-container {
  border: 1px solid lightgrey;
  margin: 0.5rem;
  border-radius: 0.3rem;
  width: 200px;
}
.product-checkout-container > div:first-child {
  color: #b43210;
}

form > label {
  display: flex;
  gap: 3px;
}
.product-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: fit-content;
}
.product-information-fake {
  display: flex;
  justify-content: space-between;
}

.product-information-fake > div:first-child {
  color: var(--textgrey);
  font-size: 0.8rem;
}
.product-information-fake > div:last-child {
  font-size: 0.8rem;
}
