* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
}

:root {
  --dkblue: #131921;
  --yellow: #febd69;
  --blue: #232f3e;
  --bg: #eaeded;
  --card: #ffffff;
  --itemhover: #c7511f;
  --textdark: #0f1111;
  --textlink: #007185;
  --textgrey: #555555;
  --buttonYellow: #ffd814;
  --amazonOrange: #c65d0d;
  background-color: var(--bg);
}
