.productCard {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.productCard > img {
  object-fit: cover;
  width: 218px;
  height: 218px;
  margin-right: 20px;
}

.productCard > div {
  display: flex;
  flex-direction: column;
}

.category {
  font-weight: bold;
}

#filters {
  width: 300px;
  padding-right: 0.3rem;
  padding-left: 0.5rem;
}

.main {
  margin-top: 3rem;
}

.set {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

div > label {
  margin-left: 0.2rem;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}
