.productCard {
  width: 100%;
  height: fit-content;
  display: flex;
}

.productCard > img {
  object-fit: cover;
  max-width: 218px;
  min-width: 218px;
  height: 218px;
  margin-right: 20px;
}

.productCard > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.productCard > div > div {
  display: flex;
}

.category {
  font-weight: bold;
}

#filters {
  width: 300px;
  padding-right: 0.3rem;
  padding-left: 0.5rem;
}

.main {
  margin-top: 3rem;
}

.set {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

div > label {
  margin-left: 0.2rem;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

.card-title {
  font-size: 1.3rem;
}
.card-title:hover {
  color: var(--amazonOrange);
  cursor: pointer;
}

.card-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-price-coins {
  font-size: 0.9rem;
  margin-top: 0.1rem;
}
.card-price-symbol {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.star {
  width: 20px;
}

.fill {
  fill: yellow;
}
