.productCard {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.productCard > img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.productCard > div {
  display: flex;
  flex-direction: column;
}
