#mainBasket {
  display: flex;
}
#mainBasket > div:first-child {
  flex: 5;
}
#mainBasket > div:last-child {
  flex: 1;
}
#shoppingBasket,
#yourItems {
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
}
hr {
  width: 100%;
  color: lightgray;
  height: 1px;
}

.line {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.line > div {
  text-align: right;
  width: 100%;
  color: gray;
}
h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

.productCard {
  margin: 0.8rem 0;
}
#basketSubtotal {
  text-align: right;
}
