.checkoutMain {
  background-color: white;
  height: fit-content;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkoutNav {
  display: flex;
  width: 98%;
  height: 70px;
  border-bottom: 1px solid #dddddd;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0, #f2f2f2 0, #fff 40%);
}
.checkoutNav > div > img:hover {
  cursor: pointer;
}
.checkoutNav > img:last-child {
  width: 30px;
  height: 30px;
}
.checkoutNav > div > img:first-child {
  width: 90px;
  height: auto;
}

.checkoutNav > .checkoutCounter {
  font-size: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  height: 62px;
}

.checkoutNav > div > div {
  font-size: 1.8rem;
  color: var(--textlink);
}

.checkoutNav > div > div:hover {
  cursor: pointer;
}

.checkoutNav > div {
  position: relative;
}
.checkoutCounter {
  position: relative;
}
.mini-modal1,
.mini-modal2 {
  top: 66px;
  position: absolute;
  z-index: 2;
  background-color: white;
  font-size: 0.5rem;
  border: 1px solid pink;
  width: 402px;
}
.mini-modal1 > div,
.mini-modal2 > div {
  color: black;
  font-size: 0.9rem;
}
.confirm {
  background-color: var(--buttonYellow);
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  border: 1px solid var(--buttonYellow);
  border-radius: 0.3rem;
}
.confirm:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.stay {
  background-color: white;
  border: 1px solid lightgrey;
}
#checkoutDetails {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#checkoutDetails > div {
  flex: 1;
  display: flex;
}

#checkoutDetails > div > div {
  margin-left: 1rem;
}
