#recs {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  margin: 0 auto;
  max-width: 1480px;
  z-index: 4;
}

/* .bannerImageContainer {
  height: 600px;
}

.croppedImage {
  height: 100%;
} */

.cardSection {
  display: flex;
  flex-wrap: wrap;
  z-index: 4;
}

.main > * {
  color: black;
}
